/* Variables */

:root {
  --basic-light: #FFFFFF;
  --basic-light-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-blue: #81B3D2;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-gray: #A9A9A9;
  --basic-light-gray: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;

  --logo-developer: #231F20;
  --logo-developer-active: #BDBBBC;
  --color-checkbox-disabled: #6A6A6A;
  --input-background: #F2F2F2;
  --input-background-hover: #EBEBEB;
  --site-background: #888888;
  --input-border-focus: #E5E5E5;
  --shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  --shadow-form: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */
body {
  min-width: 1220;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--site-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Grid */
.page {
  height: 100%;
}

.page-body {
  position: relative;

  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  grid-template-rows: min-content 1fr min-content;
}


/* header */
.main-header {
  grid-area: header;
  min-width: 1200px;

  background-color: var(--basic-light);
  box-shadow: var(--shadow);
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  /* padding-left: 52px;
  padding-right: 52px; */

  font-size: 14px;
  line-height: 26px;
  font-style: 400;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;

}

.main-header-logo {
  position: absolute;
  top: 0px;

  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation li:nth-child(2) {
  margin-right: 267px;
}

.site-navigation-current a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a {
  display: block;
  padding: 15px 72px;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black-opacity);
}

/* Main */
.container {
  grid-area: main;

  background-color: var(--basic-light);
  box-shadow: var(--shadow);
}

.main-lead {
  display: grid;
  grid-template-rows: 509px auto auto;
  grid-template-columns: 1fr 470px 1fr;
}

.main-lead p, h2 {
  margin: 0;
}

.main-lead-image {
  box-sizing: border-box;
  width: 100%;
  height: 509px;
  grid-column-start: 1;
  grid-column-end: 4;

  background-color: var(--basic-dark);
  background-image: url("../img/jagged.svg"), url("../img/background-photo.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 77px;
}

.main-lead-text {
  padding-top: 42px;
  padding-bottom: 43px;
  grid-column-start: 2;
  grid-column-end: 3;

  font-style: 700;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
}

/* Features */
.features-header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
}

.features-header h2 {
  padding-bottom: 52px;

  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto 1fr;

  background-color: var(--basic-blue)
}

.features-image {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 800px;
  height: 256px;
}

.features-image-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.features-text-right {
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.features-last {
  background-color: var(--basic-light-gray);
  border: 1px solid transparent;
}

.features-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 54px;
  padding-left: 45px;
  padding-right: 45px;

  text-align: center;
  text-transform: uppercase;
  color: var(--basic-light)
}

.features-text h3,
.main-recommend h3,
.features-last h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-text h3 {
  width: 151px;
  margin: 0;
  margin-bottom: 25px;
}

.features-text span {
  margin-bottom: 24px;
}

.features-text p {
  margin: 0;
}

.features-image {
  background-color: var(--basic-dark);
}


/* main-recommend */
.main-recommend {
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-recommend .recommend-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.main-recommend,
.features-last .features-text {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark)
}

.recommend-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommend-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 55px;
  padding-right: 55px;
}

.main-recommend h3 {
  position: relative;

  margin-top: 160px;
  margin-bottom: 25px;
}

.header-housing::after {
  content: "";
  position: absolute;
  top: -100px;
  right: 50%;

  width: 75px;
  height: 72px;
  margin-right: -37px;

  background-image: url(../img/icon-housing.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.header-food::after {
  content: "";
  position: absolute;
  top: -99px;
  right: 50%;

  width: 75px;
  height: 70px;
  margin-right: -37px;

  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-souvenirs::after {
  content: "";
  position: absolute;
  top: -105px;
  right: 50%;

  width: 64px;
  height: 77px;
  margin-right: -32px;

  background-image: url(../img/icon-souvenirs.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-recommend p {
  margin: 0;
  margin-bottom: 82px;
}



/* Main form */
.main-form {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}


.main-form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;

  background-color: var(--basic-light);
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.main-form-question {
  margin-bottom: 32px;

  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-form-text p {
  width: 435px;
  margin: 0;
  margin-bottom: 45px;
}

.main-form-search {
  position: absolute;
  top: 100%;

  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;

  width: 568px;
  box-shadow: var(--shadow-form);
  background-color: var(--basic-light);
}

/* button */
.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--basic-light);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:active {
  color: var(--basic-light-opacity);
}

.hidding-form {
  width: 568px;
  height: 86px;

  padding: 0;

  background-color: var(--basic-brown);
}

.hidding-form:hover {
  background-color: var(--basic-brown-hover);
}

.hidding-form:active {
  background-color: var(--basic-brown-active);
}

.main-form-search fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.main-form-search ul {
  list-style: none;
}

.date-form-list,
.quantity-form-list {
  margin: 0;
  padding: 0;
}

.quantity-form-list {
  display: flex;
  margin-bottom: 54px;
}

.quantity-form-list .main-form-item {
  display: flex;
}

.quantity-form-list li:not(:last-child) {
  margin-right: 53px;
}


/* Fields */
.date-form-list li {
  margin-bottom: 29px;
}

.main-form-item {
  display: flex;
  flex-wrap: wrap;
}

.main-form-item label,
.main-form-item input[type="number"] {
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.main-form-item label {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 112px;
  padding-right: 12px;
}

label.children {
  width: 65px;
}

.main-form-item input[type="number"] {
  box-sizing: border-box;

  width: 114px;
  height: 38px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.main-form-item input[type="text"] {
  box-sizing: border-box;

  width: 346px;
  height: 38px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.main-form-item input {
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;

  font: inherit;
  background-color: var(--input-background);
  border: 2px solid var(--input-background);
}

.main-form-item input:hover {
  background-color: var(--input-background-hover);
  border: 2px solid var(--input-background-hover);
}

.main-form-item input:focus {
  background-color: var(--basic-light);
  border: 2px solid var(--input-border-focus);
}


.main-form-item input::placeholder {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-black);
}

.main-form-item input:focus::placeholder {
  color: transparent;
}


/* Fields button */
.main-form-item button {
  padding: 0;
  font: inherit;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.date-arrival-wrapper,
.date-departure-wrapper,
.field-adults-wrapper,
.field-children-wrapper {
  position: relative;
}

.main-form-item .button-calendar {
  position: absolute;
  top: 50%;
  right: 0;

  width: 38px;
  height: 38px;
  margin-top: -18px;
}

.main-form-item .quantity-button {
  position: absolute;

  width: 38px;
  height: 38px;
  font: inherit;
  font-weight: bold;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.main-form-item .button-minus {
  top: 50%;
  left: 0;
  margin-top: -21px;
}

.main-form-item .button-plus {
  top: 50%;
  right: 0;
  margin-top: -18px;
}

.find {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 196px;
  padding-right: 196px;
  font-style: normal;

  background-color: var(--basic-blue);
}

.find:hover {
  background-color: var(--basic-blue-hover);
}

.find:active {
  background-color: var(--basic-blue-active);
}

/* main-map */
.main-map {
  font-size: 0;
  line-height: 0;
}

/* Main-footer */
.main-footer {
  position: absolute;
  bottom: -100%;
  left:0;
  right:0;
  opacity: 0.9;
}

/* footer */
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 54px;
  padding-right: 54px;

  font-weight: bold;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-light);
  box-shadow: var(--shadow);
}

/* Footer contacts */
.footer-contacts p {
  margin: 0;
  margin-bottom: 9px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
}

.footer-contacts p:last-child {
  margin-bottom: 13px;
}

.footer-contacts a,
.dev-link {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.dev-link:hover {
  color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--basic-blue-hover);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-contacts a:focus,
.social-button:focus,
.dev-link:focus {
  color: var(--basic-black-opacity);
}

/* footer-social */
.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-list {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-list li {
  margin-right: 6px;
}

.footer-social-list li:last-child {
  margin-right: 0;
}

/* Social button */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--basic-blue-hover);
}
.social-button:active {
  background-color: var(--basic-blue-active);
}

/* footer-developer */
.footer-developer {
  display: flex;
  align-items: center;
}

.footer-developer-text {
  margin-right: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}


/* Hotels */

/* hotels-filter */
.hotels-filter {
  width: 1200px;
  height: 217px;

  background-image: url('../img/hotels-background.jpg');
  background-repeat: no-repeat;
  background-color: var(--basic-dark);
  background-position: center;
}

.hotels-filter-form {
  display: flex;
  box-sizing: border-box;
  width: 100%;

  padding-top: 26px;
  padding-left: 72px;
  padding-right: 73px;

  color: var(--basic-light)
}

.hotels-filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.hotels-filter-form .fields-infrastructure {
  margin-right: 120px;
}

.hotels-filter-form .fields-type-hotel {
  margin-right: auto;
}

fieldset.price-per-day {
  margin-bottom: 23px;
}

.fields-infrastructure legend,
.fields-type-hotel legend,
.price-per-day legend {
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.price-per-day legend {
  margin-bottom: 11px;
}


.fields-infrastructure ul,
.fields-type-hotel ul,
.price-per-day ul {
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
}

/* range-slider */
.range-slider-track {
  width: 316px;
  height: 42px;

  padding-top: 20px;
  background-color: rgba(255, 0, 0, 0.5);
}

.scale {
  width: 316px;
  height: 2px;
  background-color: var(--basic-light-opacity)
}


/* fields */
.fields-infrastructure-list li:not(:last-child),
.fields-type-list li:not(:last-child) {
  margin-bottom: 23px;
}

.fields-infrastructure input,
.fields-type-hotel input {
  margin-right: 16px;
}



.price-per-day input {
  padding: 0;
}

.price-per-day .price-fields-list {
  display: flex;
  margin-bottom: 11px;
}


.price-per-day input {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-light);
  background-color: transparent;
  border: 2px solid var(--basic-light);
  border-radius: 2px;
}

.price-per-day input::placeholder {
  color: black;
  text-transform: uppercase;
  color: var(--basic-light);
}

.price-per-day input:focus::placeholder {
  color: transparent;
}

/* hotels-filter-button */
.hotels-filter-button {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-right: 35px;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: transparent;
  font: inherit;
  border: 2px solid var(--basic-light);
  border-radius: 2px;
}

/* hotels-sort */
.hotels-sort {
  display: flex;
  align-items: center;

  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotels-sort p{
  margin: 0;
  margin-right: 46px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.hotels-sort h2 {
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: normal;
}

.hotels-sort-wrapper,
.hotels-sort-quantity {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.hotels-sort-wrapper {
  margin-right: auto;
}

.hotels-sort-quantity {
  align-self: flex-end;
}

.hotels-sort-wrapper li:not(:last-child) {
  margin-right: 32px;
}

.hotels-sort-quantity li:not(:last-child) {
  margin-right: 12px;
}

.hotels-sort-wrapper a {
  color: var(--basic-black-opacity);
  border-bottom: 1px dashed var(--basic-blue);
}

.hotels-sort-wrapper a:hover {
  color: var(--basic-blue);
}

.hotels-sort-wrapper a:active {
  color: var(--basic-black);
  border: none;
}

.sort-current a:not([href]) {
  color: var(--basic-blue);
  border: none;
}


/* hotels-price */
.hotels-price {
  background-color: var(--basic-light);
}

.hotels-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--input-border-focus);
}

.hotels-item {
  display: flex;

  padding-top: 30px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;

  border-bottom: 1px solid var(--input-border-focus);
}

.hotels-item-image {
  margin-right: 29px;
  width: 135px;
  height: 90px;

  background-color: var(--input-background);
}

.hotels-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;

}

.hotels-content-wrapper h3 {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 7px;
}

.hotels-name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.hotels-name:hover {
  color: var(--basic-blue)
}

.hotels-name:active {
  color: var(--basic-black-opacity)
}

.hotels-item-type {
  display: flex;
  flex-direction: column;

  margin-right: 6px;
}

.hotels-item-price {
  display: flex;
  flex-direction: column;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-item-type span,
.hotels-item-price span {
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}


/* hotels-button */
.hotels-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--basic-light);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.hotels-button:active {
  color: var(--basic-light-opacity);
}

.booking {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 17px;

  background-color: var(--basic-brown);
}

.booking:hover {
  background-color: var(--basic-brown-hover);
}

.booking:active {
  background-color: var(--basic-brown-active);
}

.more-info {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 17px;

  background-color: var(--basic-blue);
}

.more-info:hover {
  background-color: var(--basic-blue-hover);
}

.more-info:active {
  background-color: var(--basic-blue-active);
}

/* hotels-stars-list */
.hotels-stars-list {
  display: flex;
  flex-direction: row-reverse;

  padding: 0;
  list-style: none;
}

/* hotels-review-rating */
.hotels-review-rating span{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 12px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--input-background);
}
